{% extends template.self %}
{% block head %}
    {{ super() }}
    <meta name="google-site-verification" content="zCASWBBoL4U7H-I0oVhlzfdosxVxPEK1dIxD4GqsW9E" />
<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-62651840-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-62651840-1');
    </script>
{% endblock %}
{% block body %}
    {{ super() }}
{% endblock %}
{% block book_navigation %}
{% endblock %}
