language: node_js
node_js:
- '6'
before_install:
- npm install -g uglify-js
- npm install -g less
- npm install -g less-plugin-clean-css
script: npm run prepublish
deploy:
  provider: npm
  skip_cleanup: true
  email: hi@dtolb.com
  api_key:
    secure: SI0Zl4TpimmmTrp0RCbvn+YnJkmvWsccZL0UwokNQpGgxj/RB1HjzMtOffnzozy2JtC1cmguN6fLVaP7HGFKW2bO21MVYT622SwrQ5QRQKNTBHXzERc4oNdbEqMvplg8Z+iV4TqaR8KdeakJwqob8d2t+ILK8gReSv3UKAsUZUUSZIJRXQtkP+1crPTGigEmXIX8iQz867DsVQOTIkhrTOn7hYph/N1uFp8W4ewUx8qQ+r0ygD6YdE4ieN/u9fFLpaQdiRlbriWrpdi7cU2Jj9KWC0f3Om6OHvJi/uP0o23ebjDzH64lkcLo9XANMhrBe7dEIeq2vmqjYqsipjGPqcN3BJ8ZuOFtW2JXNPDLxHPx7ur5M+tEXK8E4fC77N3cdKDH2nfpHjVYStd/VqE1VoMiYhJgmFj+52Sqkq84VdcV9D+ZXbQmqfFkuMx6NRvP2psWCEqMmsbPt+VylpVqSLM9NiQ1zS3jdkNRKIGluxeNVMFvkUdrodRvPS6jQPu6GiZ4n2NfIpTPrtbJ1aGb8te6UAOl8u8R39KoOBZjKYI3wdKhbH0i5QngXS5+yTh7spf+/vPlErEMI5jNe9kiDaggOwYqFj3exqodfb7wyjosCKJjCMhl8SyFJwYDqhBrYRoRpY8NnpRMYpM2r4cB7/LiRqmMIetW1ubSQ0Cpu8s=
  on:
    tags: true
    repo: Bandwidth/docs-theme
    branch: master
