@media (max-width: 1390px){
  .devCards{
    font-size: .75em;
    min-width: 0px;
    min-height: 173px;
  }
  .devCards .iconic-button{
    height: 2.95em;
    width: 2.95em;
  }
  #hero h1{
    line-height: 1em;
    font-size: 3em;
    font-weight: 100;
  }
  .fulltut{
    padding: 9.5px 30px;
  }
  #hero{
    padding-bottom: 120px;
  }
}
@media (max-width: 1178px){
    .devCards{
      min-height: 173px;
    }
    .devCards:hover{
      cursor: pointer;
      cursor: hand;
    }
    h2 i{
      display: none;
    }
    .bannerContainer *{
      font-size: 10px;
    }
  }
@media (max-width: 980px){
  #headerLogo{
    background-image: url('/images/mobileLogo.png');
    width: 40px;
  }
  .head h2{
    display: none;
  }
  .head ul {
    width: ~"calc(100% - 85px)";
    padding-left: 0px;
  }
  .book-body .body-inner {
    overflow-y: hidden;
  }
  .book.with-summary .book-header{
    top: 0;
  }
  .cardsContainer{
    width: 80%;
  }
  .devCards{
    font-size: 1em;
    width: 33.333%;
    min-height: 55px;
    padding: 1em;
    text-align: center;
  }
  .devCards.pn.active{
    color: #6cbf0d;
  }
  .devCards.voice.active{
    color:  #e9572f;;
  }
  .devCards.sms.active{
    color:  #a5639b;
  }
  #hero{
    max-height: none;
    text-align: center;
    padding-bottom: 30px;
  }
  #hero h1{
    line-height: 1em;
    padding-bottom: 1em;
    font-weight: 100;
  }
  h2 i{
    display: block;
  }
  .remove4mobile{
    display: none;
  }
  .mobileShow{
    display: block;
  }
  #smscard{
    border-radius: 5px 0px 0px 5px;
  }
  #pncard{
    border-radius: 0px 5px 5px 0px;
  }
  .devCards .fulltut, .devCards .iconic-button{
    display: none;
  }
  .why, .getStarted{
    text-align: center;
    button{
      margin-bottom: 15px;
      width: 100%;
    }
  }
  .getStarted{
    padding-bottom: 50px;
  }
  .textArea, .why p {
    width: 100%;
    text-align: center;
  }
  pre{
    padding-bottom: 5em !important;
  }
  #banner{
    height: 130px;
  }
  // .mobile{
  //   height: ~"calc(100% - 200px)";
  // }
}
